- var pageTitle = null;
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      main(style="height:100vh; display:flex; align-items:center; justify-content:center;")
        .inner
          #Music
            audio#AudioElement(autoplay controls :src="audioSrc")
            
          #Tracks
            ul.track-list
              template(v-for="(song, i) in songs")
                li.active(v-if="i == (current.num - 1)" :style="{'color': current.gradients[0].light}")
                  span {{i+1}}. 
                  span.title#SongTitle
                    span {{song.title}}
                li(v-else)
                  span {{i+1}}. 
                  a.title(@click="playSong(i)")
                    span {{song.title}}

                
          #Intro(v-if="current.num < 0")

            svg.logo(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 349.5 296.7")
              path(d="M200.7 2.6c-43.2 0-82 18.8-108.7 48.7h171.8l-12.5 13.5c-6.1 6.6-6.2 6.7-11.6 15-4.4 6.7-3.2 13.9-3.2 14l1.7 8.4h-47.8l5.9-11.8-31.2.2-20.9 51.5h27l14-31.3 48.6-.1-14.1 31.4h37l-18.8 44-38 .1-14.4 32.8-48.6.1 14.7-32.8-26.4.1-20.4 45.3c-2.7 5.9-6.1 11.2-10.2 15.9 26.6 28.4 64.4 46.1 106.3 46.1 80.4 0 145.6-65.2 145.6-145.6S281.1 2.6 200.7 2.6z" fill="#c0282d")
              path(d="M246.3 149.1H209l14-31.4-33.2.1-14 31.3h-42l26.6-65.6 47.3-.2-5.9 11.9h27.8s-2-9.8 4.2-19.2c6.1-9.5 6.1-9.2 13.9-17.6h-198s-8.5 5.4-8.5 13.7c0 8.4 7.5 11.7 7.5 11.7l65.8-.2L86 149.1c-29 10.9-49.6 30-61.7 57.4l-13.9 30.9c-1 2.3-1.6 4.5-1.6 6.6 0 6.1 4.1 10.9 12.3 14.5 6.7 2.9 14 4.4 21.7 4.4 11.8 0 22.4-2.7 31.8-8.2 10.7-6.1 18.6-14.7 23.6-25.8l22.3-49.4 41.8-.1-14.7 32.8 33.2-.1 14.7-32.8 37.9-.1 12.9-30.1zM47.5 235.4c-1.7 3.4-4.2 5-7.6 5-2.9 0-4.4-1.1-4.4-3.1 0-.4.1-.8.3-1.3L49 206.4c6.9-16 14.7-25 23.3-27.1-11.2 25-19.5 43.8-24.8 56.1z" fill="#222221")

            .inner
              p 
                strong(sty) Thank you for buying a Slap Bracelet
                | .
              p All songs produced by  
                a(href="https://thefpl.us/meet/boots-raingear" target="_blank") Boots Raingear
              p except Track 25, produced by 
                a(href="https://thefpl.us/meet/jimmyfranks" target="_blank") Jimmyfranks
              p and Track 27, produced by 
                a(href="https://thefpl.us/meet/j-w-friedman" target="_blank") J W Friedman
                | .
              p Tracks 8 & 25 feature 
                a(href="https://thefpl.us/meet/bunnybread" target="_blank") Bunnybread
                | .
              p This app was made by 
                a(href="https://thefpl.us/meet/lemon" target="_blank") Lemon
                | .

          #Current(v-if="current.num > -1")
            .old-gradient.background(:style="{'background': previousGradient }")
            .current-gradient.background(:style="{'background': currentGradient, 'opacity': current.gradientOpacity }")
            .inner()
              h1
                span.track-name#TrackName {{current.title}}
              
            h3.subject(v-if="current.subject")
              span(v-if="current.hour")
                | Hour {{current.hour}}: 
                a(:href="current.page" target="_blank") {{current.subject}}
            
            h3.byline(v-if="current.byline" v-html="current.byline")
              

            .buttons(v-if="current.num > -1")
              button.prev-track(@click="playSong(current.num - 2)")
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve")
                  path(d="M76.9 92.9c.8 0 1.5-.1 2.3-.4 2.2-.9 3.6-3.1 3.6-5.4V12.8c0-3.2-2.6-5.9-5.9-5.9-1.6 0-3.1.6-4.2 1.7l-37 37.1c-2.3 2.2-2.3 5.9-.1 8.2l.1.1 37.1 37.1c1.1 1.2 2.6 1.8 4.1 1.8zM29.7 81.2V18.7c0-5.2-4.2-9.4-9.4-9.4s-9.4 4.2-9.4 9.4v62.5c0 5.2 4.2 9.4 9.4 9.4s9.4-4.3 9.4-9.4z")
              button.stop-song(@click="stopSong()")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
                  path(d="M78.7 91.5H21.3c-6.6 0-12-5.4-12-12V22.2c0-6.6 5.4-12 12-12h57.3c6.6 0 12 5.4 12 12v57.3c.1 6.6-5.3 12-11.9 12z")
              button.next-track(@click="playSong(current.num)")
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve")
                  path(d="M16.8 6.9c-.8 0-1.5.1-2.2.4-2.2.9-3.6 3.1-3.6 5.4V87c0 3.2 2.6 5.9 5.9 5.9 1.6 0 3.1-.6 4.2-1.7l37.1-37.1c2.3-2.2 2.3-5.9.1-8.2l-.1-.1L21 8.6c-1.1-1.1-2.6-1.7-4.2-1.7zM64.1 18.6v62.5c0 5.2 4.2 9.4 9.4 9.4s9.4-4.2 9.4-9.4V18.6c0-5.2-4.2-9.4-9.4-9.4-5.2.1-9.4 4.3-9.4 9.4z")

    include partials/_javascripts